*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.container{
    
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 4fr;
    height:100%;
    background: #3F5EFB;
background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
padding: 20PX;
;
}
.user{
   background-color:#FFFFFF;
    padding: 10px;
box-shadow: -3px 10px 20px 5px rgba(0, 0, 0, 0.5);
margin: 10px;
border-radius: 4px;
}

.contenet{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: -3px 10px 20px 5px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    cursor: pointer;
    
}
.comter{
     background-color:#FFFFFF;
    padding: 10px;
box-shadow: -3px 10px 20px 5px rgba(0, 0, 0, 0.5);
margin: 10px;
border-radius: 4px;



}
.cont{
   
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: -3px 10px 20px 5px rgba(0, 0, 0, 0.5);
    margin-top: 45px;
    align-items: center;
    cursor: pointer;


}

.contenet:hover{
    border: 2px solid orangered;
}

